<div class="kontener">
   <app-navbar></app-navbar>
    <div class="hero-container">
        <div class="hero">
            <div class="text-content">
                <h1>GET YOUR TICKETS NOW!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti debitis quos tempora deleniti
                    atque
                    incidunt quaerat aliquam ex! Officia delectus esse maxime aut laboriosam. Rerum accusamus quidem
                    facere quia impedit!. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
                    incidunt
                    atque voluptate nulla. Nemo dicta iste tempore assumenda neque molestias placeat ipsum non
                    voluptates cumque voluptate, odit vel repellat impedit.</p>
                <div class="button-content">
                    <div class="buynow" onclick="router.navigate(['/postdetail']);">
                        BUY NOW
                    </div>
                    <div class="detail"  (click)="goToPost()">
                        DETAIL
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>