<!-- <body>
    <app-hero></app-hero>
    <app-galeri></app-galeri>
</body> -->

<!-- <app-galeri-dua></app-galeri-dua> -->

    <!-- <app-pbb></app-pbb> -->
<!-- <app-todo></app-todo> -->
<!-- <app-restoran></app-restoran> -->
<!-- 
<div class="container">
    <button (click)="getProducts()"> get products </button>
    
</div>

<div class="container">
    <ul>
        <li *ngFor="let p of products">{{p.url}}</li>
    </ul>
</div> -->


<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let p of posts">
            <div class="card">
                <img [src]="p.imageUrl" [alt]="p.title" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"> {{p.title}}</h5>
                    <p class="card-text">{{p.body}}</p>
                </div>
            </div>

        </div>
    </div>
</div>