<div class="content">
    <h1>The Black Puppies</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto consequuntur error eligendi? Quae sint
        recusandae modi ab sit facilis reprehenderit eius dolorum hic accusamus ea perferendis, pariatur cupiditate
        voluptate earum!</p>

    <img src="https://images.unsplash.com/photo-1554940097-4add3a762b8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bWV0YWwlMjBiYW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora mollitia nihil iste vero error at quasi,
        in, numquam quibusdam dolorem consequuntur possimus voluptatum dignissimos, perspiciatis quaerat quidem.
        Perspiciatis, sint fugit.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora mollitia nihil iste vero error at quasi,
        in, numquam quibusdam dolorem consequuntur possimus voluptatum dignissimos, perspiciatis quaerat quidem.
        Perspiciatis, sint fugit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eum blanditiis necessitatibus accusamus ea
        tempore velit impedit nobis dicta dolorum eveniet praesentium, dolorem sunt consequuntur vero pariatur quod
        quae soluta!</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora mollitia nihil iste vero error at quasi,
        in, numquam quibusdam dolorem consequuntur possimus voluptatum dignissimos, perspiciatis quaerat quidem.
        Perspiciatis, sint fugit.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione illum veniam et necessitatibus sapiente
        repellendus ipsam labore, illo, incidunt placeat assumenda maxime quidem debitis eaque laboriosam
        perferendis nesciunt vero minus?</p>



</div>
