<div class="gallery-container">
    <div class="gallery-description">
        <h1>CHECK OUT EPIC MOMENTS WITH YOUR FAVORITE ARTISTS!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti debitis quos tempora deleniti atque
            incidunt quaerat aliquam ex! Officia delectus esse maxime aut laboriosam. Rerum accusamus quidem
            facere quia impedit!. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam incidunt
            atque voluptate nulla. Nemo dicta iste tempore assumenda neque molestias placeat ipsum non
            voluptates cumque voluptate, odit vel repellat impedit.</p>
            <br>
            <br>
            <div class="detail" onclick="window.location.href=`./postDetail.html`">
                DETAIL
            </div>
    </div>
    <div class="gallery-content">
        <div class='image-content'>
            <img src='./assets/images/articmonkey.jpg' />
        </div>
        <div class='image-content'>
            <img src='https://picsum.photos/id/237/350/305' />
         </div>
        <div class='image-content'>
            <img src='./assets/images/bmth.jpg' />
         </div>
         <div class='image-content'>
            <img src='./assets/images/fob.jpg' />
         </div>
        
    </div>
</div>